{% extends 'base.html' %}
{% load static %}
{% load table_tags %}

{% block titulo_pagina %}Matriculas registradas{% endblock titulo_pagina %}
{% block page_name %}Matriculas{% endblock page_name %}
{% block page_description %}Año 2018{% endblock page_description %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="active">
            ruta002
        </li>
    </ol>
{% endblock breadcrumbs %}

{% block contentido_pagina %}
    <div class="box box-solid">
        <div class="box-body">
            {% render_table tablaMatricula%}
        </div>
    </div>
{% endblock contentido_pagina %}