{% extends 'baseform.html' %}
{% load static %}

{% block form-header %}
    {% if formServicio.instance.pk == None %} Agregando {% else %} Editando {% endif %} servicio
{% endblock form-header %}

{% block form-post %}
    <script type="text/javascript">
        actionPost = 'refrescarTablaServicio'

        function refrescarTablaServicio() {
            $('#tablaServicio').DataTable().ajax.reload(null, false);
        }
    </script>
{% endblock form-post %}

{% block form-body %}
    <div class="row">
        {% include 'campoform.html' with campo=formServicio.nombre ancho=6 %}
        {% include 'campoform.html' with campo=formServicio.descripcion ancho=6 %}
    </div>
    <div class="row">
        {% include 'campoform.html' with campo=formServicio.unidad ancho=6 %}
        {% include 'campoform.html' with campo=formServicio.precio ancho=6 %}
    </div>
{% endblock form-body %}

{% block form-footer %}
    {% include 'button.html' with tipo='submit' clase='success' icono='save' texto='Guardar' %}
    {% include 'button.html' with tipo='submit' clase='default' icono='arrow-left' dismiss='modal' texto='Cancelar' %}
{% endblock form-footer %}