{% extends 'baseform.html' %}
{% load static %}

{% block form-header %}Eliminando docente{% endblock form-header %}
{% block form-post %}
    <script type="text/javascript">
        actionPost = 'refrescarTablaDocente';

        function refrescarTablaDocente() {
            $("#tablaDocente").DataTable().ajax.reload(null, false);
        }
    </script>
{% endblock form-post %}

{% block form-body %}
    <div class="row">
        Apellidos: {{ object.persona.paterno }} {{ object.persona.materno }}
    </div>
    <div class="row">
        Nombre(s): {{ object.persona.nombre }}
    </div>
{% endblock form-body %}

{% block form-footer %}
    {% include 'button.html' with tipo="submit" clase="danger" icono="remove" texto="Eliminar" %}
    {% include 'button.html' with tipo="submit" clase="default" icono="arrow-left" dismiss="modal" texto="Cancelar" %}

    <button id="btn-cancelar" type="submit" class="btn btn-default" data-dismiss="modal"> Cancelar</button>#}
{% endblock form-footer %}